.user-review-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .single-review {
    width: 400px;
    min-height: 200px;
    max-height: fit-content;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    font-family: Helvetica Neue,sans-serif;
  }

  .user-review-error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

.user-review-stars::before {
  content:"★";
  font-size: 20px;
  color: #F5A623;
  margin-right:5px;
}

.user-review {
  overflow-y: scroll;
  word-break: break-word;
}

.star-in-date {
  justify-content: center;
  align-items: baseline
}

.delete-review-button {
    justify-content: flex-end;
    width: 3.5%;
    cursor: pointer;
}

.delete-review-button:hover {
  color: #f44336;
}

.edit-review-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-area {
  min-height: 100px;
  width: 250px;
  max-width: 100%;
  max-height: fit-content;
  margin: 5px;
  overflow: auto;
  resize: none;
}

.input-type {
  float: right;
  text-align: center;
}
/*
.edit-review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.edit-review-form input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.edit-review-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  resize: none;
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll;
} */


.edit-review-button {
  cursor: pointer;
}

.edit-review-button:hover {
  background-color: yellow;
}

.save-review {
  background-color: rgba(0, 128, 0, 0.733);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 155px;
}


.save-review:hover {
  background-color: rgba(0, 128, 0, 0.671);
}

.cancel-review {
  background-color: rgba(255, 0, 0, 0.747);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: -155px;
  margin-top: -39px;
}

.cancel-review:hover {
  background-color: rgba(255, 0, 0, 0.651);
}
