.h1 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createSpotForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-label3 {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.Button {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #4CAF50; */
    /* background-color: rgba(255, 169, 9, 0.938); */
    background-color: rgba(235, 91, 8, 0.644);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.delete-btn{
    background-color: #e80101;
}

.add-spot-modal {
    /* background-color: white; */
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    width: 100%;
}

.add-modal button:hover {
    background-color: #3e8e41;
}

.add-modal label {
    display: flex;
    align-items: center;
}

.add-modal input {
    /* flex: 1; */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 20px;
    width:100%; /* fixed width*/
    text-align: center;
}
  input:focus {
    border: 2px solid #666;
    outline: none;
}
input {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 20px;
    flex: 1;
}

.error-message {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .error-text {
    color: red;
    font-weight: bold;
  }

  [data-theme='dark'] {
    --background: #282c34;
    --primary: white;
  }

  body {
    background-color: var(--background);
    color: var(--primary);
  }

  [data-theme='dark'] .add-spot-modal {
    border-color: white;
    background-color: #282c34;
    color: white;
  }

  [data-theme='dark'] .form-label3{
    /* border-color: white; */
    background-color: #282c34;
    color: white;
  }
