.spot-container {
    width: 100%;
    text-align: center;
    position: relative;
}

.li2 {
    width: 20%;
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 10px;
    position: relative;
}

.img {
    width: 400px;
    height: 350px;
    margin-right: 1%;
    border-radius: 3%;
    float: left;
}

.spot-container {
    width: 100%;
    text-align: center;
    position: relative;
}

/* .spot-nav-link:hover {
    background-color: blue;
} */

.spot-nav-link {
    text-decoration: none;
}
