
.spot-container {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 80px;
    flex-wrap: 80px;
}

.li2 {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 10px;
}


.city-rating-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    width: 400px;
    height: 350px;
    object-fit: cover;
    max-width: 400px;
    max-height: 350px;
    border-radius: 2%;
    overflow: hidden;
}

.cards-div{
    margin-top: 60px;
    text-align: center;
}

.spot-nav-link {
    text-decoration: none;
}

.text {
    position: relative;
    font-weight: bolder;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 20px;
    color: black;
}

.price {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    color: black;
    float: left;
    margin: revert;
}

.reviews {
    position: relative;
    font-size: 16px;
}

.reviews::before {
    content: "★";
    font-size: 20px;
    color: #F5A623;
    margin-right:5px;
}



[data-theme='dark'] {
    --background: #282c34;
    --primary: white;
  }

  body {
    background-color: var(--background);
    color: var(--primary);
  }

  [data-theme='dark'] .text,
  [data-theme='dark'] .price,
  [data-theme='dark'] .reviews {
    border-color: white;
    background-color: #282c34;
    color: white;
  }

  [data-theme='dark'] .profile-dropdown {
    /* border-color: white; */
    background-color: #282c34;
    color: white;
  }

  [data-theme='dark'] #spot-button {
    /* border-color: white; */
    background-color: #282c34;
    color: white;
  }
