.spot-container {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.li2 {
    width: 20%;
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 10px;
}

.img {
    width: 400px;
    height: 350px;
    object-fit: cover;
    object-position: top;
    max-width: 100%;
    border-radius: 5%;
    overflow: hidden;
}

.spot-nav-link {
    text-decoration: none;
}
