.spot-detail-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.text-overlay {
    text-align: center;
}

.price {
    align-self: flex-end;
}

.rating {
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.spot-detail-container img {
    border-radius: 5%;
}
