.spot-detail-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    position: relative;
    width: fit-content;
    margin: 100px auto 0;
}

.text-overlay {
    text-align: left;
    left: -420px;
    bottom: -40px;
    font-family: 'Sofia Sans', sans-serif;
    /* margin-top: 2em; */
    margin: 0.5em;
    font-weight: bolder;
    /* text-decoration: underline; */
}

.rating-div{
    display: flex;
    align-items: inherit;
}

.text-overlay-description {
    /* text-align: center; */
    /* position: relative; */
    left: -520px;
    top: 910px;
    font-size: 18px;
}

.text-overlay-reviews {
    left: -140px;
    bottom: -40px;
    font-family: 'Sofia Sans', sans-serif;
    text-decoration: underline;
}

.spotDetail-rating {
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.spotDetail-rating::before {
    content: "★";
    font-size: 20px;
    color: #F5A623;
    margin-right:5px;
    position: relative;
}

.review-rating::before {
    content:"★";
    font-size: 20px;
    color: #F5A623;
    margin-right:5px;
}

.reviews-container {
    right: 85px;
    top: -40px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
}

.num-review-container {
    margin-left: 0.7em;
    margin-top: 0.15em;
    font-size: 20px;
}

.delete-model-div{
    display: flex;
}

.rating-model-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.num-reviews {
    align-self: center;
    bottom: 440px;
    right: 220px;
    margin: auto;
}

.delete-review-button {
    background-color: transparent;
    border: none;

}

/* .delete-review-button:hover {
    background-color: #f44336;
    color: white;
    text-decoration: underline;
} */


.fa-trash-alt {
    background-color: transparent;
    border: none;
}
.fa-trash-alt:hover {
    color: #f44336;
    cursor: pointer;
}

.trashcan {
    justify-content: flex-end;
    /* border: 1px red solid; */
    display: flex;
    width: 100%;
}

/* .review-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 2px #ccc;
    max-width: 400px;
    height: 140px;
    max-height: fit-content;
} */

.review-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    height: 140px;
    max-height: fit-content;
    overflow: hidden;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}



.spotDetail-price {
    align-self: flex-start;
    font-weight: bolder;
    top: 845px;
    left: 515px;
    margin: auto;
    font-size: 24px;
    font-family: 'Sofia Sans', sans-serif;
    text-align: end;
}

.spot-detail-container img {
    width: 1200px;
    height: 600px;
    object-fit: cover;
    border-radius: 5%;
    padding: 10px;
    margin: auto;
}

.spot-image {
    position: relative;
    width: 800px;
}

/* .Button2::before {
    content: "+";
    font-size: 24px;
    margin-right: 10px;
    color: rgb(4, 206, 4);
} */


.Button2 > #edit-spot-modal-detail {
    border-radius: 2px solid red;
    width: 130px;
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    margin-right: 1em;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.Button2 > #edit-spot-modal-detail:hover {
    background-color: #3e8e41;
}

/* .description-container{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} */

.review-text {
    word-wrap: break-word;
    /* overflow-y: scroll; */
    overflow: auto;
    max-width: -webkit-fill-available;
    height: 200px;
    padding: 10px;
}

.spot-link {
    color: black;
}

.spot-link:hover {
    border: 1px;
    border-radius: 5px;
    /* background-color: rgba(76, 175, 79, 0.568); */
    background-color: rgba(235, 91, 8, 0.644);
}

@media only screen and (min-width: 769px) {
    .review-card {
        height: 200px;
        border-radius: 10px;
    }
}

@media (max-width: 1120px) {
    .spot-detail-container img {
        width: 100%;
        height: auto;
    }
}
