/* TODO Add site wide styles */

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
}

button{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
}

input{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
}
