/* TODO Add site wide styles */

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
}

button{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
}

input{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
}

:root {
  --background: #fff;
  --primary: #000;
}

[data-theme='light'] {
  --background: #fff;
  --primary: #000;
}

[data-theme='dark'] {
  --background: #282c34;
  /* --primary: #fff; */
}

body {
    background-color: var(--background);
    color: var(--primary);
  }
