
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0.3px 0px 0px rgba(0,0,0,0.5);
    /* background-color: white; */
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    height: 100px;
    margin-top: 0%;
    padding: 0 2em;
}

ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

li form {
    display: flex;
    align-items: center;
  }

  li form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  li form button[type="submit"] {
    padding: 10px;
    background-color: #008CBA;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  li form button[type="submit"]:hover {
    background-color: #0077B5;
  }



h2 {
    position: absolute;
    top: 30px;
    left: 15px;
    font-weight: bold;
    color: rgb(235, 91, 8);
    margin: 0 auto;
}

h2::before {
    content: '\f015';
    font-family: 'Font Awesome 5 Free';
    padding-right: 5px;
}

.add-spot-div{
    display: flex;
    align-items: center;
}

#spot-button {
    right: 70px;
    bottom: 22px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

#spot-button:hover {
    border: 1px;
    border-radius: 5px;
    background-color: rgba(235, 91, 8, 0.644);
    cursor: pointer;
}

Button {
    border: transparent;
    background-color: white;
}

.add-spot-button {
    margin-right: 1em;
}

.ModalButton {
    cursor:pointer
}

.text-login {
    cursor: pointer;
}

.text-login:hover {
    background-color: rgba(255, 166, 0, 0.13);
}

.text-signup {
    cursor: pointer;
}

.text-signup:hover {
    background-color: rgba(255, 166, 0, 0.13);
}

.user-review-button:hover {
    border: 1px;
    /* border-radius: 5px; */
    background-color: rgba(235, 91, 8, 0.644);
    cursor: pointer;
}


.user-review-button {
    cursor: pointer;
    background-color: white;
    /* border-radius: 10px; */
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bolder;
    /* font-size: 18px; */
    /* margin: 20px; */
}

.user-spot-button:hover {
    /* background-color: rgba(0, 128, 0, 0.712); */
    background-color: rgba(235, 91, 8, 0.644);
    cursor: pointer;
}

.user-booking-button:hover {
    background-color: rgba(235, 91, 8, 0.644);
    cursor: pointer;
}

[data-theme='dark'] {
    --background: #212121;
    --primary: #fff;
  }


  body {
    background-color: var(--background);
    color: var(--primary);
  }

  [data-theme='dark'] .NavBar {
    background-color: #282c34;
    color: #fff;
  }

  [data-theme='dark'] .profile-dropdown {
    background-color: #282c34;
    color: white;
  }

  [data-theme='dark'] #spot-button {
    background-color: #282c34;
    color: white;
  }
