.hidden {
    display: none;
}

.NavBar {
    display: flex;
    /* list-style: none; */
    justify-content: flex-end;
    border: 4px solid red;
    position: relative;
}

ol {
    list-style-type: none;
}


/* h1 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    font-weight: bold;
    color: rgb(235, 91, 8);
} */
