.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  position: absolute;
  top: 100%;
  z-index: 1;
  margin-top: -20px;
  right: 10px;
  z-index: 1;
  width: 150px;
  height: auto;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: bold;
  border-radius: 5%;
}

.profile-dropdown li {
    margin-bottom: 10px;
}

.profile-dropdown button {
  padding: 5px;
  background-color: #ccc;
  color: #fff;
  border: none;
  cursor: pointer;
}

.logout:hover {
  background-color: rgba(255, 0, 0, 0.692);
}

.fa-user-circle {
  font-size: 1.5em;
}

.button-dropdown {
  /* background-color: #4CAF50; */
  background-color: rgba(235, 91, 8, 0.76);
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 15px;
  cursor: pointer;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: bold;
}

.button-dropdown:hover {
  /* background-color: #3e8e41; */
  background-color: rgb(235, 91, 8);
}
